# AWS
cloud_provider = "aws"

region = "us-east-1"

network_name = "prod-network"

cidr_block = "10.0.0.0/16"

public_subnets = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnets = [
  "10.0.10.0/24",
  "10.0.20.0/24"
]

tags = {
  Environment = "prod"
  Team        = "platform"
}

# Azure
cloud_provider = "azure"

location = "eastus"

network_name = "prod-vnet"

cidr_block = "10.100.0.0/16"

public_subnets = [
  "10.100.1.0/24"
]

private_subnets = [
  "10.100.10.0/24"
]